.header{
  position:absolute;
  top:82%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}


#header-image {
  background: url(../images/bg.png) center center no-repeat;
  background-size:cover;
  position:relative;
  height:100vh;
}
/*
pre-register blue rgb(58, 109, 186);
green rgb(22, 178, 109)
*/

.input-group {
  padding: 20px;
  background-color: rgb(58, 109, 186);
  border: 1px rgb(48, 119, 186) solid;
  box-shadow: 10px 10px 5px #888888;
}
.email-text {
  color: black;
}
