/*
*
* SwampHacks Homepage Stylesheet
* Last Updated: November 21, 2015
*
*/

/** Import Fonts **/

@import url('https://fonts.googleapis.com/css?family=Lato:400,300');

@font-face {
	font-family: 'Amble-Light';
	src: url('../fonts/amble/Amble-Light.ttf');
}

@font-face {
	font-family: 'Amble-Regular';
	src: url('../fonts/amble/Amble-Regular.ttf');
}

@font-face {
	font-family: 'Amble-Bold';
	src: url('../fonts/amble/Amble-Bold.ttf');
}

html, body {
	overflow-x: hidden;
}

/** Basic Formatting **/

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

h2 {
	font-family: 'Amble-Regular';
	text-transform: uppercase;
	font-style: italic;
	font-size: 40px;
	text-align: center;
}

h3 {
	font-family: 'Amble-Regular';
	font-size: 28px;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;

}

section {
	width: 100%;
	display: block;
	position: relative;
}

/** Logo and Header **/

#sh-logo {
	max-height: 120px;
	width: auto;
	margin: auto;
}

#sh-header {
	color: #3a3a3a;
	font-size: 20px;
	margin: 0 auto 200px auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: none;
	font-style: normal;
	-moz-transition: font-size 0.3s;
	-o-transition: font-size 0.3s;
	-webkit-transition: font-size 0.3s;
	transition: font-size 0.3s;
}

section#splash #mlh-trust-badge {
	-webkit-filter: drop-shadow(-1px 2px 0px rgba(0,0,0,0.07));
	filter: drop-shadow(-1px 2px 0px rgba(0,0,0,0.07));
}

.contrast {
	background-color: rgba(255,255,255,0.8);
	padding: 5px 10px;
	line-height: 49px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

/** Menu Formatting **/

section#menu .navbar {
	background-color: #3a6dba;
	border-bottom: 3px solid #315d9f;
	padding: 0 20px;
}

section#menu .navbar-brand {
	padding: 7px 10px;
}

section#menu .navbar-brand img {
	height: 34px;
	width: auto;
}

section#menu .navbar a {
	font-family: 'Amble-Regular', sans-serif;
	color: #fff;
	font-size: 18px;
}

section#menu .navbar a.apps {
	font-weight: 700;
	text-transform: uppercase;
}

section#menu .navbar-default .navbar-nav > .active > a, section#menu .navbar-default .navbar-nav > .active > a:focus, section#menu .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	background: none;
	border-bottom: 2px solid #fff;
}

section#menu .navbar-default .navbar-toggle {
	border-color: #fff;
}

section#menu .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

section#menu .navbar-default .navbar-toggle:focus, section#menu .navbar-default .navbar-toggle:hover {
	background-color: #fff;
}

section#menu .navbar-default .navbar-toggle:focus .icon-bar, section#menu .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #3a6dba;
}

/** Splash Section Formatting **/

section#splash {
	height: 100%;
	background-image: url('../images/SplashScreenTop_SplashScreen.jpg');
	background-position: center top;
	background-size: cover;
	padding: 20px 50px 100px 50px;
	/*margin-bottom: 100%;*/
}

#heading {
	display: block;
	text-align: center;
}
/** About Section Formatting **/

section#about {
	background-color: #3bbc62;
	margin-bottom: 20px;
}

section#about h2 {
	color: #fff;
	margin-top: 0;
	font-size: 30px;
	font-family: "Amble-Light";
	font-style: normal;
	margin-bottom: 7px;
	margin-top: 20px;
}

section#about p {
	color: white;
	margin-bottom: 90px;
	padding: 0px 125px 0px;
	text-align: center;
}

section#about img.marston-ceiling {
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	/*max-height: 500px;*/
}

/** FAQ Section Formatting **/

section#faq {
	background-color: #fffcd7;
}

section#faq .col-md-6 {
	padding: 0 40px;
}

section#faq h2, section#faq h3, section#faq p {
	color: #386dba;
}

section#faq h2 {
	font-style: normal;
	margin-top: 60px;
	margin-bottom: 45px;
}

section#faq p {
	margin-bottom: 30px;
}

section#faq p#last {
	margin-bottom: 90px;
}

section#faq img.marston-rooms {
	position: relative;
	width: 100%;
}


/*Schedule Section Formatting*/

section#schedule .row-content {

	margin: 0 100px;
}

section#schedule  {
	background-color: #6B768E;
	padding-bottom: 60px;
	/*padding: 0 90px;*/
}

section#schedule  .col-md-6 {
	padding: 0 40px;
}


section#schedule h2, section#schedule h3, section#schedule h4, section#schedule p {
	color: #FFFCD7;
}

section#schedule  h2 {
	font-style: normal;
	margin-top: 60px;
	margin-bottom: 30px;
	/*margin-left: -40px;*/
	color: #FFFCD7;
	text-align: center;
}

section#schedule  h3 {
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
	text-align: center;
}


section#schedule  p {
	float: right;
	color: #9CDCFF;
	 margin-top: 10px;
	 font-size: 16px;
	 margin-right: 20px;
	 font-weight: 400;
}

section#schedule h4 {
	float: left;
	    text-align: left;
	    font-size:20px;
			margin-left: 20px;

}

section#schedule h5 {
	display: inline-block;
	margin-top: -10px;
	padding-left: 20px;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
	color: lightgray;
}

@media screen and (max-width: 992px) {
	section#schedule .col-md-6 {
		padding: 0;
		padding-left: 0px;
	}

	section#schedule .row-content {
		margin: 0;
	}

	section#schedule h4 {
		float: none;
		font-size: 24px;

	}

	section#schedule p {
		float: none;
		font-size: 20px;
		margin-left: 20px;
		font-style: bold;
}

	section#splash #mlh-trust-badge {
		right: 25px !important;
	}

}

/*BULLETIN SECTION*/

.tableWrapper {
	display: block;
	overflow-y: auto;
	max-height: 600px;
	width: 45%;
	border: 10px solid white;
	padding: 0;
	margin-bottom: 100px;
	margin: 0 10px;

}

section#about table, section#about th, section#about td {
	width: auto;
	height: auto;
	border-color: white !important;
	border-width: 5px !important;
	border-top: 3px solid red !important
	border-bottom:10px solid white !important;
}

section#about table {
	scrollbar-face-color: white;

	table-layout: fixed;
}

section#about tr {
	width: 100%;
	background-color: #3bbc62;
	color: white;
	padding: 20px;
	margin: 10px;
	transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

}





section#about .row-details {
	position: relative;
	background-color: blue;
	/*opacity: 0;*/
	height: 0px !important;
	overflow: hidden;
	max-height: 0px !important;
	line-height: 0px;
	/*display: none;*/


	/*transition: 1s linear all;*/
	transition: 1s ease opacity;
}
/*
section#about tr:hover + .row-details {
	/*max-height: 400px !important;
	display: table-cell;
	opacity: 0.8;


}*/

.details-p {
	width: 100%;
}

section#about td {
	width: 100%;
	word-wrap: break-word;
	font-size: 22px;
	font-family: 'Lato';
}

section#about tr:visited {
	color: #3bbc62;
	background-color: white;
}

section#about .fa{
	margin-left: 10px;
	padding-top: 6px;
	font-size: 28px !important;
}

section#about .fa-chevron-down {
	font-size: 18px !important;
}


section#about tr:hover {
	color: #3bbc62;
	background-color: white;
}


/** Sponsors Section Formatting **/

.sponsors {
	background-color: #EADD92;
}

section#sponsors-ceiling {
	height: 100%;
	background-image: url('../images/WebDesign-14.jpg');
	background-position: center top;
	/*contain scaled it to fit properly*/
	background-size: contain;
	background-repeat: no-repeat;
	/*padding: 400px 50px 1200px 50px;*/
	/*Dont need padding bottom since we have dummy logos that fill the content space now*/
	/*padding-bottom: 100%;*/
	background-color: #EADD92;
}
section#sponsors-ceiling .sponsor-container {
	padding-top: 35%;
}

section#sponsors-ceiling h2 {
	padding-top: 5%;
	color: #323F0F;
	font-style: normal;
	margin-bottom: 8%;
	/*margin-top: 60px;*/
	/*margin-bottom: 45px;*/
}

section#sponsors-ceiling .sponsor-title {
	margin-top: 10%;
}
section#sponsors-ceiling .sponsor-logo-row {
	margin-top: 5%;
	padding: 0 20px;
}



.sponsor-image-lg, .sponsor-image-md, .sponsor-image-sm {
	object-fit: contain;
	top: 50%;
transform: 			translateY(-50%);
	padding-bottom: 5%;
	width: auto;
	margin: auto;
	/*-webkit-filter: brightness(0);*/
}

.sponsor-image-lg:hover, .sponsor-image-md:hover, .sponsor-image-sm:hover{
	-webkit-filter: brightness(0) invert(1);
}

section#sponsors-ceiling .sponsor-image-lg {
	max-height: 190px;
	padding-bottom: 0%;
}
section#sponsors-ceiling .sponsor-image-md {
	max-height: 120px;
}
section#sponsors-ceiling .sponsor-image-sm {
	max-height: 65px;
}
section#sponsors-ceiling {
	height: 100%;
	background-image: url('../images/WebDesign-14.jpg');
	background-position: center top;
	/*contain scaled it to fit properly*/
	background-size: contain;
	background-repeat: no-repeat;
	/*padding: 400px 50px 1200px 50px;*/
	/*Dont need padding bottom since we have dummy logos that fill the content space now*/
	/*padding-bottom: 100%;*/
	background-color: #EADD92;
}

section#sponsors-ceiling .ge-logo {
	max-height: 100px;
}

section#sponsors-floor {
	height: 100%;
	background-image: url('../images/devils-den-floor.jpg');
	background-position: center top;
	/*contain scaled it to fit properly*/
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	/*margin top provides spacing b/w last sponsor row and pool*/
	margin-top: -3%;
	padding-bottom: 30%;
	background-color: #D6C476;
}

/** END Sponsors Section Formatting **/

section#footer {
	font-family: 'Amble-Regular', sans-serif;
	/*
	background-color: #6B768E;
	border-top: 2px solid #667187;*/
	/*Change BG colors to match devils den pool, old ones are above*/
	background-color: #D6C476;
	border-top: 2px solid #D6C476;
	margin-top: -4%;
	padding: 10px 0;
	color: white;
	text-align: right;
	padding-bottom: 2%;
}

section#footer #contributors {
	text-align: right;
}

section#footer #links {
	text-align: left;
}

section#footer li {
	list-style: none;
	margin-left: -40px;
	margin-bottom: 4px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 12px;

}

section#footer i {
	color: white;
	margin-left: 6px;
	font-size: 12px;
}
section#footer i:hover {
	color: #3A6DBA;
	margin-left: 6px;
	font-size: 12px;
}

.heart {
	margin: 0 0 20px 0;
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	vertical-align: bottom;
}
.heart i {
  color: #FF4D40;
  text-decoration: none;
}
.heart .fa {
  color: white;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.2);
  }
}
@keyframes pound {
  to {
    transform: scale(1.2);
  }
}

#whiteLogo {
	color: white;
	display: block;
	margin: 20px auto 0 auto;
	width: 150px;
}

/** Link Section Formatting**/
/*section#bottomlink{
		background-color: #6B768E;
}

section#bottomlink .col-md-6 {

}

section#bottomlink h2{
	margin-top: 100px;
}*/


/** Subscribe Form **/

#formLightBox {
	background: rgba(255, 255, 255, 0.95);
}

#formLightBox form {
	padding: 80px 40px;
}

.form-action-row {
	margin: 50px 0;
}

.email-field-ask {
	color: #444;
	font-size: 48px;
	line-height: 54px;
	font-family: 'Amble-Bold';
	margin-bottom: 0;
	-moz-transition: font-size 0.3s, line-height 0.3s;
	-o-transition: font-size 0.3s, line-height 0.3s;
	-webkit-transition: font-size 0.3s, line-height 0.3s;
	transition: font-size 0.3s, line-height 0.3s;
}

.email-spam-notice {
	color: #666;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Amble-Regular';
}

.email-spam-notice-m {
	display: none;
	color: #666;
	font-size: 14px;
	line-height: 14px;
	font-family: 'Amble-Regular';
}

.email-input-line {
	color: #222;
	font-size: 48px;
	line-height: 54px;
	font-family: 'Amble-Regular';
	height: 78px;
	background: none;
	border: none;
	border-bottom: 2px dotted #DDD !important;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	margin-top: 20px;
	-moz-transition: font-size 0.3s, line-height 0.3s;
	-o-transition: font-size 0.3s, line-height 0.3s;
	-webkit-transition: font-size 0.3s, line-height 0.3s;
	transition: font-size 0.3s, line-height 0.3s;
}

.email-input-line:focus {
	box-shadow: none;
}

.flat-pr {
	display: block;
	color: #fff !important;
	text-decoration: none;
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Amble-Bold';
	letter-spacing: 2px;
	padding: 14px 32px;
	background-color: #3A6DBA;
	border: none;
	border-bottom: 3px solid #2A5593;
	border-radius: 0;
	text-align: center !important;
	outline: none !important;
	margin: 10px auto;
	width: 241px;
	-moz-transition: background-color 0.3s, font-size 0.3s;
	-o-transition: background-color 0.3s, font-size 0.3s;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s
}

.flat-pr.sm {
	padding: 12px 24px;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 125px;
}

.flat-pr:hover {
	color: #fff;
	text-decoration: none !important;
	background-color: #4fa3db;
	border-bottom-color: #2980b9;
}

.flat-pr:active {
	color: #fff;
	text-decoration: none;
	outline: none !important;
	background-color: #4fa3db;
	position: relative;
	top: 3px;
}

.subs-but {
	color: #444;
	font-size: 18px;
	font-family: 'Amble-Bold';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 150px;
	margin: 5px auto;
	padding: 14px 22px;
	background: none;
	border: 2px solid #666;
	border-radius: 3px;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.subs-but:hover, .subs-but:active {
	color: #fff;
	border-color: #58cc89;
	background-color: #58cc89;
	cursor: pointer;
}

.canc-but {
	color: #444;
	font-size: 18px;
	font-family: 'Amble-Bold';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 150px;
	margin: 5px auto;
	padding: 14px 22px;
	background: none;
	border: 2px solid #666;
	border-radius: 3px;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.canc-but:hover, .canc-but:active {
	color: #fff;
	border-color: #e74c3c;
	background-color: #e74c3c;
	cursor: pointer;
}

@media screen and (max-width: 415px) {
	.container {
		overflow-x: hidden;
	}
	.flat-pr {
		font-size: 18px;
	}
	section#about img.marston-ceiling {
		overflow-x: hidden;
		position: relative;
		/*clip: rect(0px, 100vw, 200px, 0px);*/

		width: 200%;
		left: 0;
		bottom: 0;
		/*max-height: 500px;*/
	}

	section#faq img.marston-rooms {
		position: relative;
		width: 200%;
		left: -70%;
	}
	section#sponsors-ceiling {
		height: 100%;
		background-image: url('../images/WebDesign-14.jpg');
		background-position: 50% -20%;
		/*contain scaled it to fit properly*/
		background-size: 200%;
		background-repeat: no-repeat;
		background-position:
		/*padding: 400px 50px 1200px 50px;*/
		/*Dont need padding bottom since we have dummy logos that fill the content space now*/
		/*padding-bottom: 100%;*/
		background-color: #EADD92;
	}
	section#sponsors-floor {
		height: 100%;
		background-image: url('../images/devils-den-floor.jpg');
		background-position: center top;
		/*contain scaled it to fit properly*/
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		/*margin top provides spacing b/w last sponsor row and pool*/
		margin-top: -3%;
		padding-bottom: 30%;
		background-color: #D6C476;
	}

	section#sponsors-ceiling .ge-logo {
		max-height: 25px;
	}

}

@media screen and (max-width: 568px) {
	.email-field-ask {
		text-align: center;
	}
	.email-spam-notice {
		display: none;
	}
	.email-spam-notice-m {
		display: block;
		text-align: center;
	}
	.email-input-line {
		text-align: center;
		font-size: 20px !important;
		line-height: 24px !important;
		height: 45px;
	}
}

@media screen and (max-width: 585px) {
	section#about p {
		padding: 0 20px;
	}
	.flat-pr {
		width: 100%;
	}
	/*section#about img.marston-ceiling {
		position: relative;
		width: 200%;
		left: -50%;
		bottom: 0;
	}
	section#faq img.marston-rooms {
		position: relative;
		width: 200%;
		left: -35%;
	}*/

}

@media screen and (max-width: 768px) {
	section#menu .navbar a {
		text-align: center;
	}

}

@media screen and (max-width: 992px) {
	section#footer #contributors, section#footer #links {
		text-align: center;
	}
	section#splash #mlh-trust-badge {
		right: 25px !important;
	}
}

@media screen and (max-width: 1425px) {
	.email-field-ask, .email-input-line {
		font-size: 40px;
		line-height: 48px;
	}
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #2054A0;
	text-decoration: none;
}

.date-start {
	font-size: 15px !important;
}

.date-start {
	font-weight: bold !important;
}

.end {
	font-size: 15px !important;

}




/**  END: Landing Page Styling  **/
