.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}


#header-image {
  background: url(../images/bg.png) center center no-repeat;
  background-size:cover;
  position:relative;
  height:100vh;
}
