body{
  font-family: 'Lato';
}

.wrapper {
  height: 100vh;
}

.heading-page {
  background-image: url('../img/Landing-02.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-page {
  background-color: #ababab;
  background-image: url('../img/sayagata-400px.png');
}

.statistic-page {
  background-color: #919191;
  background-image: url('../img/weather.png');
}

.logo-head{
  width: 80%;
  display: block;
  margin: auto;
}

.action-buttons-house {
  margin: 10% 5%;
  padding: 2px;
  border-radius: 16px;
  width: 90%;
  height: 140px;
  border: white solid 5px;
}

.graph{
  /*background-image: url('../img/ignasi_pattern_s.png');*/
  width: 600px;
  height: 400px;
  float: right;
  margin: 100px;
}

.parallax {
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  /*background-size: cover;*/
}

.stick {
    position:fixed;
    top:0px;
}

.button-texts {
  border-top: white solid 5px;
  margin: 10px 0px;
  padding: 8px;
  width: 100%;
  display: inline-block;
}

.button {
  font-size: 32px;
}

h2 {
  text-align: center;
  color: #24b06f;
  font-size: 28px;
}

h3 {
  text-align: left;
  vertical-align: middle;
  color: black;
  font-size: 40px;
  font-family: 'Lato';
}
h4{
  color: white;
  text-align: center;
  font-size: 22px;
}
p{
  font-size: 20px;
}

.testimonial-page {
  background-image: url('../img/upfeathers.png');
  text-align: center;
}

.testimonial-profile{
  text-align: center;
  margin: auto;
  padding: 10px;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.testimonial-card{
  padding: 0px 60px;
}


.logo {
  margin-top: 8%;
  margin-bottom: 10%;
}

.attendee-buttons {
  margin-top: 10%;
}

.footer {
  height: 25vh;
  color: white;
}
