body{
  font-family: 'Lato';
}

.wrapper {
  height: auto;
}

.quote-pic {
  width: 400px;
  height: 200px;
  border-radius: 18px;
}

.quote-name {
  color: black;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.footer-note {
  background-color: #97ffff;
}

.quote-title {
  color: black;
  text-align: left;
  font-size: 20px;
}

.quote {
  border-left: 6px solid #598eca;
  padding: 0px 14px;
  text-align: left;
  font-size: 18px;
}

.testimonial {
  margin: 80px 0px;
}

.heading-page {
  background-image: url('../img/Landing-02.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-page {
  background-image: url('../img/sayagata-400px.png');
  opacity: 0.8;
  background-color: #ababab;

}

.statistic-page {
  background-color: #919191;
  background-image: url('../img/Stats-Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-head{
  width: 80%;
  display: block;
  margin: auto;
}

.action-buttons-house {
  margin: 10% 5%;
  padding: 2px;
  width: 90%;
  height: 140px;
}

.graph{
  /*background-image: url('../img/ignasi_pattern_s.png');*/
  width: 600px;
  height: 400px;
  float: right;
  margin: 100px;
}

.parallax {
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  /*background-size: cover;*/
}

.stick {
    position:fixed;
    top:0px;
}

.button-texts {
  margin: 5px 0px;
  padding: 8px;
  width: 100%;
  display: inline-block;
}

.button {
  font-size: 28px;
  color: #a1e3f0;
}

.pre-reg-button{
  border-radius: 18px;
  background-color: white;
  border: none;
  width: 180px;
  height: 60px;
}

h2 {
  text-align: center;
  color: #24b06f;
  font-size: 28px;
}

h3 {
  text-align: left;
  vertical-align: middle;
  color: black;
  font-size: 40px;
  font-family: 'Lato';
}
h4{
  color: white;
  text-align: center;
  font-size: 22px;
}
p{
  font-size: 20px;
}

.testimonial-page {
  background-color: white;
  text-align: center;
}

.testimonial-profile{
  text-align: center;
  margin: auto;
  padding: 10px;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.testimonial-card{
  padding: 0px 60px;
}


.logo {
  margin-top: 8%;
  margin-bottom: 10%;
}

.attendee-buttons {
  margin-top: 10%;
}

.footer {
  height: 25vh;
  color: white;
}
