<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>SwampHacks - A University of Florida Hackathon</title>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta property="og:title" content="SwampHacks" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://swamphacks.com" />
	<meta property="og:description" content="The official site for SwampHacks, the UF hackathon." />
	<meta property="og:image" content="http://swamphacks.com/images/APPSOPENSmall.png" />
	<meta name="description" content="The official site for SwampHacks, the UF hackathon.">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css"/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71810641-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body class="preload" ng-app = "tables">

<a name="top">
	<section id="menu">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#top">
						<img src="images/menu-bar-sh-logo.png" title="SwampHacks Menu Bar Logo">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a class="apps" href="#faq-scroll">FAQs</a></li>
            <li><a class="apps" href="#schedule-scroll">Schedule</a></li>
            <li><a class="apps" href="summary">Sponsors</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="icons" href="https://www.facebook.com/SwampHacks" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a class="icons" href="https://twitter.com/swamphacks" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a class="icons" href="mailto:&#105;&#110;&#102;&#111;&#064;&#115;&#119;&#097;&#109;&#112;&#104;&#097;&#099;&#107;&#115;&#046;&#099;&#111;&#109;"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</section>


	<section id="splash">
		<div class="container" id="splash">
		<div class="row">
			<a id="mlh-trust-badge" style="position:absolute; top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>
			<div class="col-md-12 text-center">
				<h1><a href="http://swamphacks.com/" title="SwampHacks"><img id="sh-logo" class="img-responsive" src="images/swamphacks-logo.png" title="SwampHacks Logo"/></a></h1>
				<h2 id="sh-header">University of Florida | January 23 - 24, 2016</h2>
				<a class="flat-pr" role="button" >Applications Closed</a>
				<a class="flat-pr sm" role="button" href="summary.html" target="_blank">Sponsor Us</a>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>Thanks for an awesome time!</h2>
          <p>
          </p>
				</div>
			</div>


<!--

      <div class="col-sm-6">
        <h3 style="color: white;" class= "text-center" >Bulletin</h3>
      </div>

      <div class="col-sm-6">
                <h3 style="color: white;" class= "text-center" >Calendar</h3>

      </div>
      <div class="col-sm-6  tableWrapper" style=" margin-left: 4%;" >




        <table class="table table-striped table-hover classWithPad" style="float: left; white-space: nowrap;" ng-controller = "ListingsController">
            <tr id="hide" ng-repeat="listing in listings | filter:searchText" ng-click="listing.showDetails = !listing.showDetails">
               <td>
                 <div class="col-xs-2">
                   <i class="fa fa-{{listing.code}}"></i>
                  <h6>{{listing.time}}</h6>
                 </div>
              <h4>{{listing.name}}</h4>
              <h5 style="font-style: italic;">{{listing.location}}</h5>
            </td>
               <td>
             </tr>

        </table>



      </div> -->



      <!-- <div class="col-sm-6  tableWrapper" >

        <table class="table table-striped table-hover classWithPad" style="float: right; white-space: nowrap;" ng-controller = "CalendarController">


          <tr class = "detailed-tab"  ng-repeat="listing in calendar" >
              <td class="end">{{listing.summary }}</td>
              <td class="date-start text-left" style="padding-right: 10px;" id = "date-start">{{listing.start.dateTime }}</td>
              <td class="date-start text-left" style="padding-right: 10px;" id = "date-start">{{listing.end.dateTime }}</td>
          </tr>

        </table>


      </div> -->

		</div>

		<img class="marston-ceiling" src="images/marston-ceiling-n.jpg">
	</section>

<a name="faq-scroll" >
	<section id="faq" >
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>FAQs</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h3>What is SwampHacks?</h3>
					<p>SwampHacks is a 24-hour hackathon (read: software development marathon) that is intended to bring makers of all experience levels together for a weekend to create some amazing things: grab some friends, cook up a crazy idea, and do everything in your power to make it a reality.</p>
					<p>Throughout the weekend, we'll have mountains of swag, corporate sponsors looking to recruit, and more free food than you could possibly imagine. Aside from that - participation is completely FREE! No, we're not kidding.</p>
					<h3>Can I hack with a team?</h3>
					<p>Absolutely! Rome wasn't built in a day and it certainly wasn't built by one person: teams get things done! Meet other hackers, network, and make a #squad of your own. Teambuilding will be an informal process, so feel free to either walk in to the event with a team or join one once we get kicked off. Maximum 5 hackers per team.</p>
					<h3>How do I get there?</h3>
          <p>Driving, flying, hoverboards...however you can! We're working to charter buses as we get closer to the event so they can pick up students from nearby schools. Unfortunately, we are unable to help hackers individually pay for travel this year.</p>
				</div>
				<div class="col-md-6">
					<h3>What do I bring?</h3>
					<p>Every hacker has their own kit. We recommend hacking gear (laptop, charger, USB peripherals), a light jacket in case it gets cold, and some basic hygiene products (toothbrush/toothpaste, deodorant, etc) to keep you feeling fresh.</p>
					<h3>How much experience do I need?</h3>
					<p>NONE! ZERO! NADA! At the end of the day, it's the people that make a hackathon great. Whether you've been coding since you were 6 or you've never written a line of HTML in your life, everyone has something to gain from a hackathon. Think about this: even if you're new to programming, you have 24 hours to learn a new skill and demonstrate it with a product. Pretty cool, right?</p>
					<h3>Can I submit an older project?</h3>
					<p>Out of fairness to the other competitors, we ask that no code dedicated to the project can have been written before the beginning of the event. Resurfacing a year-old project for a 24-hour competition just doesn't make a whole lot of sense.</p>
				</div>
			</div>
		</div>
		<img class="marston-rooms" src="images/marston-rooms-l.jpg">
	</section>

  <a name="schedule-scroll">


  <section id="schedule">
      <div class="container">
        <div class="row">

          <div class="col-md-12 text-center">

            <h2>Schedule</h2>
          </div>
        </div>

        <div class="row-content">
          <div class="col-md-6">
            <h3>Saturday, January 23</h3>
            <div class="event" style="clear: both;">
              <h4>Registration</h4>
              <p>9:00am - 11:30am</p>
              <h5>Marston Science Library [Outside]</h5>

            </div>
            <div class="event" style="clear: both;">
              <h4>Opening Ceremony</h4>
              <p>11:15am - 11:45am</p>
              <h5>Turlington L007</h5>

            </div>
            <div class="event" style="clear: both;">
              <h4>Hacking Begins</h4>
              <p>12:00pm</p>
              <h5>Marston Science Library [Basement]</h5>

            </div>
            <div class="event" style="clear: both;">
              <h4>Lunch</h4>
              <p>12:15pm</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Lightning Talks</h4>
              <p>12:45pm-4:45pm</p>


            </div>
            <div class="event" style="clear: both;">
              <h4>Dinner</h4>
              <p>6:30pm</p>

            </div>
          </div>
          <div class="col-md-6">
            <h3>Sunday, January 24</h3>
            <div class="event" style="clear: both;">
              <h4>Midnight Snack</h4>
              <p>12:00am</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Breakfast</h4>
              <p>7:00am</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Lunch</h4>
              <p>11:00am</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Hacking Ends</h4>
              <p>12:00pm</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Expo</h4>
              <p>12:30pm-3:30pm</p>

            </div>
            <div class="event" style="clear: both;">
              <h4>Closing Ceremony</h4>
              <p>3:45pm-4:30pm</p>
              <h5>Turlington L007</h5>

            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

  <div class="sponsors">
    <section id="sponsors-ceiling">
      <!-- TODO: Not sure if font needs modifiying?  -->
  		<div class="container sponsor-container">
  			<div class="row sponsor-title">
          <a name="sponsors-scroll">

  				<div class="col-md-12 text-center">
  					<h2>SPONSORS</h2>
  				</div>
  			</div>
        <div class="row sponsor-logo-row">
          <div class="col-xs-12 text-center">
            <a href="https://www.infiniteenergy.com/" target="_blank">
              <img class="sponsor-image-lg img-responsive" src="images/logos/IEI_logo.svg">
            </a>
          </div>
          <!-- <div class="col-xs-6 text-center">
            <img class="sponsor-image-lg img-responsive img-responsive" src="images/logos/soylent-logo.png">
          </div> -->
        </div>
  			<div class="row sponsor-logo-row">

          <div class="col-xs-6 text-center">
            <a href="https://developers.facebook.com/" target="_blank">
  					  <img class="sponsor-image-md img-responsive" src="images/logos/facebook-sized-logo.png">
            </a>
          </div>
          <div class="col-xs-6 text-center">
            <a href="http://www.clarifai.com/" target="_blank">
  					  <img class="sponsor-image-md img-responsive" src="images/logos/reclarifaiswamphacks/logo-dark-RGB-01.svg">
            </a>
          </div>
        </div>
        <div class="row sponsor-logo-row">
          <div class="col-xs-6 text-center">
            <a href="https://www.statefarm.com/careers/become-an-employee/career-areas/technology-and-user-experience-careers/information-technology-systems-careers" target="_blank">
              <img class="sponsor-image-md img-responsive" style="max-height: 90px;" src="images/logos/State_Farm_logo.svg">
            </a>
          </div>
          <div class="col-xs-6 text-center">
            <a href="http://www.ufl.edu/research/" target="_blank">
              <img class="sponsor-image-md img-responsive" style="max-height: 100px;" src="images/logos/research-logo.png">
            </a>
          </div>
  			</div>

        <div class="row sponsor-logo-row">

  				<div class="col-xs-3 text-center">
            <a href="http://www.microsoft.com/en-us/" target="_blank">
  					  <img class="sponsor-image-sm img-responsive" src="images/logos/MSFT_logo_rgb_C-Gray.png">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="http://www.nielsen.com/us/en.html" target="_blank">
  					  <img class="sponsor-image-sm img-responsive" src="images/logos/Nielsen_logo.svg">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="http://www.ultimatesoftware.com/" target="_blank">
              <img class="sponsor-image-sm img-responsive" style="max-height: 80px;" src="images/logos/UltimateSoftware-logo.PNG">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="https://www.soylent.com/" target="_blank">
              <img class="sponsor-image-sm img-responsive" style="max-height: 75px;" src="images/logos/soylent-logo.png">
            </a>
          </div>


        </div>
        <div class="row sponsor-logo-row">

          <div class="col-xs-3 text-center">
            <a href="https://www.jpmorgan.com/pages/jpmorgan" target="_blank">
              <img class="sponsor-image-sm img-responsive" style="max-height: 80px;" src="images/logos/jpmorgan-logo.svg">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="http://www.ge.com/" target="_blank">
              <img class="sponsor-image-sm img-responsive ge-logo" src="images/logos/General_Electric_logo.svg">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="https://www.quottly.com/" target="_blank">
              <img class="sponsor-image-sm img-responsive" style="max-height: 80px;" src="images/logos/quottly-logo.png">
            </a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="http://www.twilio.com/" target="_blank">
              <img class="sponsor-image-sm img-responsive" style="max-height: 80px;" src="images/logos/twilio-logo.png">
            </a>
          </div>

        </div>


          <!--  PARTNERSHIPS  -->

          <div class="row sponsor-title">
    				<div class="col-md-12 text-center">
    					<h2>PARTNERS</h2>
    				</div>
    			</div>

          <div class="row sponsor-logo-row">

            <div class="col-xs-4 text-center">
              <a href="http://www.cise.ufl.edu/dept/ufwicse/" target="_blank">
                <img class="sponsor-image-md img-responsive" src="images/logos/WiCSE-logo.png">
              </a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="http://ufsec.com/#/" target="_blank">
                <img class="sponsor-image-md img-responsive" src="images/logos/SEC-Logo-Dark.png">
              </a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="http://gatorace.org/" target="_blank">
                <img class="sponsor-image-md img-responsive" src="images/logos/ACE-logo.png">
              </a>
            </div>
          </div>
          <div class="row sponsor-logo-row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4 text-center">
              <a href="http://acm.cise.ufl.edu/" target="_blank">
                <img class="sponsor-image-md img-responsive" src="images/logos/acm-logo.png">
              </a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="https://mlh.io/" target="_blank">
                <img class="sponsor-image-md img-responsive" src="images/logos/mlh-logo.svg">
              </a>
            </div>

          </div>
            <!-- <div class="col-xs-4 text-center">
    					<img class="sponsor-image-md img-responsive" src="images/soylent-logo.png">
            </div> -->


  			</div>

  		</div>
  	</section>

    <section id="sponsors-floor">
      <!-- TODO: Nothing really needs to go here. this section just contains the background image
  		<div class="container">
  			 <div class="row">
  				<div class="col-md-12 text-center">
  					<h2>footers</h2>
  				</div>
  			</div>
  		</div> -->
  	</section>
  </div>

	<section id="footer">
		<div class="container">
			<div id="contributors" class="col-md-3">
				<h4>Organizers</h4>
				<ul>
					<li>Bernard Marger
						<a class="icons" href="mailto:bern422@gmail.com"><i class="fa fa-envelope"></i></a>
						<a class="icons" href="https://www.linkedin.com/in/bernardmarger" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>Killian McCoy
						<a class="icons" href="mailto:mccoykillian@gmail.com"><i class="fa fa-envelope"></i></a>
						<a class="icons" href="https://www.linkedin.com/pub/killian-mccoy/b8/a2a/418" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>Joshua Kegley
						<a class="icons" href="mailto:josh1289op@gmail.com"><i class="fa fa-envelope"></i></a>
						<a class="icons" href="https://www.linkedin.com/in/joshuakegley" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>Joseph Pecoraro
						<a class="icons" href="mailto:jpecoraro342@gmail.com"><i class="fa fa-envelope"></i></a>
						<a class="icons" href="https://www.linkedin.com/pub/joseph-pecoraro/8a/45/2ab" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>Takashi Wickes
						<a class="icons" href="mailto:twickes32@gmail.com"><i class="fa fa-envelope"></i></a>
						<a class="icons" href="https://www.linkedin.com/in/takashiw" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</div>

			<div class="col-md-6">
				<img id="whiteLogo" src="images/LogoWhite.png"/>
				<span class="heart">
	    		Made with<i style="color: #FF4D40;" class="fa fa-heart pulse"></i> in Gainesville
				</span>
			</div>
		<div id="links" class="col-md-3">
			<h4>Links</h4>
			<ul>
				<li><a href="https://www.facebook.com/SwampHacks/?fref=ts">Facebook</a>
				</li>
				<li><a href="https://twitter.com/swamphacks">Twitter</a>
				</li>
				<li><a href="mailto:info@swamphacks.com">info@swamphacks.com</a>
				</li>
				<li><a href="mailto:sponsors@swamphacks.com">sponsors@swamphacks.com</a>
				</li>
				<li><a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>
				</li>
			</ul>
		</div>
	</div>
	</section>

	<!-- <section id="bottomlink">
		<div class = "container">
			<div class="row">
				<div class="col-md-6">
					<h2>Made with heart</h2>
	</section> -->

	<div class="modal fade" id="formLightBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form action="//swamphacks.us10.list-manage.com/subscribe/post?u=44a52d9dbedc78feec6c91b97&amp;id=aa577777f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<span class="email-spam-notice-m">Don't worry, we're not into that whole "spam" thing.</span>
					<p class="email-field-ask">What's your email address?</p>
					<span class="email-spam-notice">Don't worry, we're not into that whole "spam you 'till you block us" thing.</span>
					<input id="mce-EMAIL" class="form-control email-input-line"  name="EMAIL" type="email" placeholder="coolperson@example.com" ng-model="newEmail" autofocus/>
					<div class="row form-action-row">
						<div class="col-md-6 text-center">
							<input type="submit" d="mc-embedded-subscribe" value="Subscribe" class="subs-but"/>
						</div>
						<div class="col-md-6 text-center">
							<button class="canc-but" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="js/jquery-2.1.4.js"></script>
	<script data-require="bootstrap@*" data-semver="3.3.5" src="js/bootstrap.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script src="js/script.js"></script>
  <script src="app.js"></script>
  <script src="details.js"></script>

  <script src="listingController.js"></script>
  <script src="listingFactory.js"></script>
</body>
</html>
