.wrapper {
  height: 100vh;
}

.gray1 {
  background-color: #c5c5c5;
}

.gray2 {
  background-color: #ababab;
}

.gray3 {
  background-color: #919191;
}

.gray4 {
  background-color: #666666;
}

.gray5 {
  background-color: #333333;
}

h3 {
  text-align: center;
  vertical-align: middle;
  color: black;
}

.logo {
  margin-top: 10%;
  margin-bottom: 10%;
}

.attendee-buttons {
  margin-top: 10%;
}

.footer {
  height: 25vh;
  color: white;
}
