<div>
<h3>What is SwampHacks?</h3>

SwampHacks is an 18-hour hackathon hosted by the University of Florida's ACM student chapter, the UF Software Development Club, and Women in Computer Science Engineering. 

<h3>What is a hackathon?</h3> 

A hackathon is a team-based competition where the only objective is to make something awesome. Looking to make the next killer Android app? Have a great idea for a web application? Hackathons are an awesome fit for you.


<h3>Who can attend?</h3>

Any university student in the world can hack with us. All we ask is that you sign up with a valid .edu email addresses. If you have a special situation and still want to attend SwampHacks, feel free to email us at <a href="mailto:info@swamphacks.com">info@swamphacks.com</a>.


<h3>How much does it cost?</h3>

SwampHacks - including all food, swag, and prizes - will be absolutely free! All we ask is that you bring an appetite for creation and innovation.


<h3>What should I bring with me?</h3>

SwampHacks will run overnight, so bring some pajamas if you're so inclined! Other that that, bring your gear and a few energy drinks. We'll take care of the rest.


<h3>Do I have to stay the whole time?</h3>

We won't lock you in, but please only hack at the competition. Feel free to go home and recharge if you need to.


<h3>Can I work on pre-existing projects?</h3>

No. All competition items at SwampHacks must be started after the beginning of the event. Feel free to discuss ideas beforehand, though!


<h3>Can I compete in a team?</h3>

Definitely! Teams (of no more than 5, please) are strongly encouraged. This way, those with a non-technical background can collaborate with rockstar programmers to make their incredible vision a reality. Teams will be formed at the event, so you can come alone and join a team once we start up.	
</div>