@import url(http://fonts.googleapis.com/css?family=Norican);
/*ELEMENTS========================*/
html {
  overflow-y: always;
  overflow-x: hidden;
}
.footer {
  padding: 1em;
  padding-top: 0em;
}
.container {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 960px;
}
.modal-open {
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
/*FEATURETTE======================*/
.background-img {
  background: url('../images/fries.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40em;
  margin: 0;
}
.background-img * {
  color: white;
}
.background-img a:hover,
.background-img a:active {
  color: white;
}
.feature-row {
  height: 40em;
  margin: 0;
}
.feature-row * {
  color: white;
}
.feature-row a:hover,
.feature-row a:active {
  color: white;
}
.feature-row h1:first-child {
  margin-top: 2.22222222em;
}
.el-screen {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.black-bg {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
.logo {
  width: 50%;
  opacity: 1.0;
}
/*NAVBAR======================*/
#navbar-main {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
#navbar-main.affix {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.navbar {
  background: none;
  margin-bottom: 0;
}
.nav.navbar-nav > li > a {
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  margin-top: 1em;
}
.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:active {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
/*ROW============================*/
.material-shadow {
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
}
.row {
  overflow-x: hidden;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.row-spacing {
  padding-top: 5.5em;
  padding-bottom: 7em;
  margin-bottom: 1.5em;
}
.row-spacing-top {
  padding-top: 1.5em;
}
.row-blue {
  background: #396597;
}
.row-blue * {
  color: white;
}
.row-blue a:hover,
.row-blue a:active {
  color: white;
}
.row-green {
  background: #399754;
}
.row-green * {
  color: white;
}
.row-green a:hover,
.row-green a:active {
  color: white;
}
.auto-margin {
  margin: 0 auto;
}
/*GOOGLE==========================*/
.maps-container {
  height: 250px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: white;
  border-style: solid;
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
  margin-top: 1.5em;
}
#gmaps {
  width: 100%;
  height: 250px;
}
.form-container {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
.form-container > iframe {
  min-height: 500px;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*TEXT==========================*/
.title-text {
  font-family: "Norican";
}
.white-text * {
  color: white;
}
.white-text a:hover,
.white-text a:active {
  color: white;
}
.text-lead {
  font-size: 1.5em;
}
/*IMAGES=======================*/
.img-responsive {
  margin-bottom: 0.5em;
}
/*ANIMATIONS===================*/
.fade-anim {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.thanks {
	background-color: #2a75f3;
}

.tier1 {
	width: 100%;
}
.tier2 {
	width: 100%;
}
.tier3 {
	width: 80%;
}
.tier4 {
	width: 50%;
}
.tier5 {
	width: 30%;
}
.tier6 {
	width: 20%;
}

.sponsor-logo {
	margin-bottom: 5em;
}
